<head>
	<style type="text/css">
body{
	position: relative;
}
	.bg {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    overflow: auto;
	}



	/* Centered text */
.left {
  position: absolute;
  top: 50%;
  font-size: 50px;
  font-weight: bold;
}

.container {
  position: relative;
  color: white;
}
	</style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
{% extends 'layout.html' %}
{% block content %}

	<div id="section1">
		<img src="{{img}}" class="bg">
		<div class="container">
			<div class="left">
				Response Categorizer<br>
					<p style="font-size: 30px">			-An Automated Scoring System for Online Discussion Forums</p>
					<!--<article class="content-section" style="font-size: 25px;color:#5f788a">-->
					<ul style="font-size: 25px">
						<li> An automated system that scores the answers and comments on the post of your online discussion forum</li>
						<li> Fast processing is done to provide results in real time</li>
						<li> Filters can be applied for the evaluators to check out replies in different ranges</li>
						<li>The scored replies can alse be ordered in ascending and descending order</li>
						<li>Check out the How To Page in order to see how the system can be used</li>
					</ul>
			</div>	
		</div>
	</div>

{% endblock content %}
</body>