<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main,#nav{
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

	{% if title %}
		<title>Response-{{ title }}</title>
	{% else %}
		<title>Response</title>
	{% endif %}
</head>

<body>

	<!-- Bootstrap CSS -->
	<div id="mySidenav" class="sidenav bg-dark">
  		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		     <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
		     <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About Us</a>
		     {% if current_user.is_authenticated %}
		     	<a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
		        <a class="nav-item nav-link" href="{{ url_for('filter_blueprint.filter') }}">Filter</a>
		        <a class="nav-item nav-link" href="{{ url_for('filter_blueprint.before_filter_display') }}">Data</a>
		      
		        <a class="nav-item nav-link" href="{{ url_for('filter_blueprint.filter_results') }}">Results</a>
		     {% endif %}  		
	</div>


	<header class="site-header">

		  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" id="nav">
		  	<span style="font-size:30px;cursor:pointer;color:#ffffff" onclick="openNav()">&#9776;</span>
		    <div class="container">

		      <a class="navbar-brand mr-4" href="/">Response Categorizer</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>
		      <div class="collapse navbar-collapse" id="navbarToggle">
		        <div class="navbar-nav mr-auto">
		          {% if current_user.is_authenticated %}
		          	<a class="nav-item nav-link" href="{{ url_for('filter_blueprint.filter') }}">Filter</a>
		          	<a class="nav-item nav-link" href="{{ url_for('filter_blueprint.before_filter_display') }}">Data</a>
		      
		          	<a class="nav-item nav-link" href="{{ url_for('filter_blueprint.filter_results') }}">Results</a>
		          {% endif %}
		        </div>
		        <!-- Navbar Right Side -->
		        <div class="navbar-nav">
		        	{% if current_user.is_authenticated %}
		    		 <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
		        	{% else %}
		        		<a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
		          		<a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
		        	{% endif %}
		        </div>
		      </div>
		    </div>
		  </nav>
		</header>

<div id="main">
	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	      {% with messages = get_flashed_messages(with_categories=true) %}
	      		{% if messages %}
	      			{% for category,message in messages %}
	      				<div class="alert alert-{{ category }}">
	      					{{ message }}
	      				</div>
	      			{% endfor %}
	      		{% endif %}
	      {% endwith %}

		  {% block content %}{% endblock %}
		      
	    
	      
	    </div>
	  </div>
	</main>
</div>
	
		


	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Sidenav -->
	<script>
		document.getElementById('main').addEventListener("click", function (evt) {
		    document.getElementById("mySidenav").style.width = "0";
		  	document.getElementById("main").style.marginLeft= "0";
		  	document.getElementById("nav").style.marginLeft = "0";
		  	document.body.style.backgroundColor = "white";
		});

		function openNav() {
  			document.getElementById("mySidenav").style.width = "250px";
  			document.getElementById("main").style.marginLeft = "250px";
  			document.getElementById("nav").style.marginLeft = "250px";
  			
		}

		function closeNav() {
		  document.getElementById("mySidenav").style.width = "0";
		  document.getElementById("main").style.marginLeft= "0";
		  document.getElementById("nav").style.marginLeft = "0";
		  
		}
	</script>
            
  
</body>
</html>