<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

#openBtn{
	visibility: "hidden";
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: white;
  transition: 0.3s;
}

.sidenav #a:hover {
  background-color: #ffffff;
  opacity: 0.5;
  color: #5f788a;
}


.sidenav p{
	font-size: 20px;
}

hr{
	width:90%;
	margin:0 auto;
	background-color: #ffffff;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}
{% if current_user.is_authenticated %} 
#main,#nav{
  transition: margin-left .5s;
  margin-left: 200px;
}
{% endif %}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#profile_pics{
	height: 15%;
	width: 80%;
}
	


</style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

	{% if title %}
		<title>Response-{{ title }}</title>
	{% else %}
		<title>Response</title>
	{% endif %}
</head>

<body>
{% if current_user.is_authenticated %}
	<!-- Bootstrap CSS -->
	<div id="mySidenav" class="sidenav bg-dark" id="sidebar">
  		<a href="javascript:void(0)" style="color:white;" class="closebtn" onclick="closeNav()">&times;</a>
  		<img class="rounded-circle mx-auto d-block" id = "profile_pics" src="../static/profile_pics/{{current_user.image_file}}">
  		<h4 style="color:white;text-align:center">Dashboard</h4>
  		<hr><br>
  			<ul class="list-unstyled sidebar-body">
  				
  				<a style="color: #777;">Menu</a>
		    	<li> <a id="a" class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a></li>
		    	<!--
		     	<li><a id="a" class="nav-item nav-link"  href="{{ url_for('main.about') }}">About Us</a></li>-->
				<li><a id="a" class="nav-item nav-link"  href="{{ url_for('filter_blueprint.before_filter_display') }}">Data</a></li>
		    </ul><hr>
		    <ul class="list-unstyled sidebar-body">
		    	<a style="color: #777;">Filter</a>
		    	<li><a id="a" class="nav-item nav-link" href="{{ url_for('filter_blueprint.filter') }}">Filter</a></li>
		    	<li><a id="a" class="nav-item nav-link" href="{{ url_for('filter_blueprint.filter_results') }}">Results</a></li>
		        <li><a id="a" class="nav-item nav-link" href="{{ url_for('filter_blueprint.report') }}">Report</a></li>
		    </ul><hr>
		    <ul class="list-unstyled sidebar-body">	
		    	<a style="color: #777;">Account</a>     
		     	<li><a id="a" class="nav-item nav-link" href="{{ url_for('users.account') }}">Account Settings</a></li>
		     	<li><a id="a" class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
		    </ul>        
	</div>
{% endif %} 
`

	<header class="site-header">

		  <nav class="navbar navbar-expand-md bg-steel navbar-dark fixed-top" id="nav">
		  	{% if current_user.is_authenticated %}
		  		<span id="openBtn" style="font-size:30px;cursor:pointer;color:#ffffff" onclick="openNav()">&#9776;</span>
		  	{% endif %} 
		    <div class="container">

		      <a class="navbar-brand mr-4" href="/">Response Categorizer</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>
		      <div class="collapse navbar-collapse" id="navbarToggle">
		        <div class="navbar-nav mr-auto">
		          {% if current_user.is_authenticated %}
		          	<a class="nav-item nav-link" href="{{ url_for('filter_blueprint.filter') }}">Filter</a>
		          	<a class="nav-item nav-link" href="{{ url_for('filter_blueprint.before_filter_display') }}">Data</a>
		      
		          	<a class="nav-item nav-link" href="{{ url_for('filter_blueprint.filter_results') }}">Results</a>
		          {% endif %}
		        </div>
		        <!-- Navbar Right Side -->
		        <div class="navbar-nav">
		        	{% if current_user.is_authenticated %}
		    		 <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
		        	{% else %}
		        		<a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
		          		<a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
		        	{% endif %}
		        </div>
		      </div>
		    </div>
		  </nav>
		</header>

<div id="main">
	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	      {% with messages = get_flashed_messages(with_categories=true) %}
	      		{% if messages %}
	      			{% for category,message in messages %}
	      				<div class="alert alert-{{ category }}">
	      					{{ message }}
	      				</div>
	      			{% endfor %}
	      		{% endif %}
	      {% endwith %}

		  {% block content %}{% endblock %}
		      
	    
	      
	    </div>
	  </div>
	</main>
</div>
	
		


	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	<!-- Sidenav -->
	<script>
		document.getElementById('main').addEventListener("click", function (evt) {
		    	document.getElementById("mySidenav").style.width = "0";
		  		document.getElementById("main").style.marginLeft= "0";
		  		document.getElementById("nav").style.marginLeft = "0";
		  	document.body.style.backgroundColor = "white";
		});

		function openNav() {
  			document.getElementById("mySidenav").style.width = "200px";
  			document.getElementById("main").style.marginLeft = "200px";
  			document.getElementById("nav").style.marginLeft = "200px";
  			document.getElementById("openBtn").style.visibility = "hidden";
		}

		function closeNav() {
		  document.getElementById("mySidenav").style.width = "0";
		  document.getElementById("main").style.marginLeft= "0";
		  document.getElementById("nav").style.marginLeft = "0";
		  document.getElementById("openBtn").style.visibility = "visible";
		  
		}
	</script>
            
  
</body>
</html>