{% extends 'layout.html' %}
{% block content %}
	<div class='content-section'>
		<form method="POST" action="" novalidate enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{{ legend }}</legend>
				
				<div class="form-group">
					{{ form.csv1.label(class="form-control-label") }}
					{% if form.csv1.errors %}
						{{form.csv1(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.csv1.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.csv1(class="form-control form-control-lg") }}
					{% endif %}	
				</div>

				<div class="form-group">
					{{ form.csv2.label(class="form-control-label") }}
					{% if form.csv2.errors %}
						{{form.csv2(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.csv2.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.csv2(class="form-control form-control-lg") }}
					{% endif %}	
				</div>

				<div class="form-group">
					{{ form.csv3.label(class="form-control-label") }}
					{% if form.csv3.errors %}
						{{form.csv3(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.csv3.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.csv3(class="form-control form-control-lg") }}
					{% endif %}	
				</div>

			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}
